In [1]:
import pandas as pd

In [2]:
# strings need to be within [] brackets
pd.DataFrame({'name': ['chetan'], "age" : 19}, index = ['f'])

     name  age
f  chetan   19

In [3]:
pd.DataFrame({'name': ['chetan', 'raj'], "age" : [19, 20]}, index = ['a', 'b'])

     name  age
a  chetan   19
b     raj   20

In [4]:
# pass a list
pd.Series(['a','b','c', 'd'])

0    a
1    b
2    c
3    d
dtype: object

In [5]:
data = pd.read_csv('wine.csv')

In [18]:
# iloc takes indicies
data.iloc[:, 1:4].head(3)

    country                                        description   designation
0     Italy  Aromas include tropical fruit, broom, brimston...  Vulkà Bianco
1  Portugal  This is ripe and fruity, a wine that is smooth...      Avidagos
2        US  Tart and snappy, the flavors of lime flesh and...           NaN

In [7]:
# loc can take strings
# returns all columns from country to designation
data.loc[0:2, 'country' : 'designation']

    country                                        description   designation
0     Italy  Aromas include tropical fruit, broom, brimston...  Vulkà Bianco
1  Portugal  This is ripe and fruity, a wine that is smooth...      Avidagos
2        US  Tart and snappy, the flavors of lime flesh and...           NaN

In [8]:
# gets only the two columns
data.loc[:, ['country', 'designation']]

         country                             designation
0          Italy                            Vulkà Bianco
1       Portugal                                Avidagos
2             US                                     NaN
3             US                    Reserve Late Harvest
4             US      Vintner's Reserve Wild Child Block
...          ...                                     ...
129966   Germany  Brauneberger Juffer-Sonnenuhr Spätlese
129967        US                                     NaN
129968    France                                   Kritt
129969    France                                     NaN
129970    France           Lieu-dit Harth Cuvée Caroline

[129971 rows x 2 columns]

In [9]:
# can pass indices as a list
data.loc[[1,2,5], ['country', 'price']]

    country  price
1  Portugal   15.0
2        US   14.0
5     Spain   15.0

In [13]:
data.head(4)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian

In [14]:
# set a column of the df as an index for easier access
# in order to access points for US
data.loc[3, 'price']

13.0

In [17]:
# instead set country as index and then use loc to avoid index
data.set_index('country').loc['US', 'points']

country
US    87
US    87
US    87
US    87
US    87
      ..
US    90
US    90
US    90
US    90
US    90
Name: points, Length: 54504, dtype: int64

In [47]:
# get all rows that have a country of Italy and a price of 15.0
data.loc[(data.country == 'Italy') & (data.price == 15)].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
112,112,Italy,"Made with 90% Merlot and 10% Alicante, this ea...",Semifonte,87,15.0,Tuscany,Toscana,NaN,Kerin O’Keefe,@kerinokeefe,Podere Ciona 2014 Semifonte Red (Toscana),Red Blend,Podere Ciona
315,315,Italy,"Honey, almond blossom and citrus zest are foll...",Extra Dry,86,15.0,Veneto,Prosecco di Valdobbiadene,NaN,NaN,NaN,Bellussi NV Extra Dry (Prosecco di Valdobbiad...,Prosecco,Bellussi
326,326,Italy,Drying mineral tones face off with luscious pe...,Extra Dry,86,15.0,Veneto,Prosecco di Valdobbiadene,NaN,NaN,NaN,Marsuret NV Extra Dry (Prosecco di Valdobbiad...,Prosecco,Marsuret

In [48]:
data.loc[(data.country == 'Italy') & (data.price.isnull())].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
13,13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
31,31,Italy,Merlot and Nero d'Avola form the base for this...,Calanìca Nero d'Avola-Merlot,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2010 Calanìca Nero d'Avola-...,Red Blend,Duca di Salaparuta

In [55]:
# get all records where country is Italy or Portugal
data.loc[data.country.isin(['Italy', 'Portugal'])].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
6,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo

In [60]:
# replace all values in a column with a string
# data["country"] = "chetan"
# data.head(3)